.main {
    margin-top: 200px;
}
.logo-img{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    height: 24px;
    padding: 10px 30px 10px 30px;
    border : 2px solid #dfe1e5;
    border-radius: 24px;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 10px 8px 10px;
    border : 2px solid #dfe1e5;
    border-radius: 10px;

}